*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
}

.section__title {
  font-size: 4rem;
  background: red;
}

.intro, 
.contact {
  display: flex;
  height: 100vh;
}

.intro__content {
  display: grid;
  place-items: center;
  padding: 10%;
  font-size: 2.5rem;
}

.intro .section__title,
.contact .section__title {
  padding: 10px;
}

.contact {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contact .section__title,
.contact__content {
  display: grid;
  place-items: center;
}

.email_info {
  padding: 10px;
  font-size: 3rem;
  display: flex;
  align-items: center;
}

a {
  font-size: 2rem;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:visited {
  color: red;
}

a:visited:hover {
  color: black;
}

li {
  list-style-type:none;
}

.project-card {
  background:
    linear-gradient(to right, black 10px, transparent 4px) 0 0,
    linear-gradient(to right, black 10px, transparent 4px) 0 100%,
    linear-gradient(to left, black 10px, transparent 4px) 100% 0,
    linear-gradient(to left, black 10px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 10px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 10px, transparent 4px) 100% 0,
    linear-gradient(to top, black 10px, transparent 4px) 0 100%,
    linear-gradient(to top, black 10px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 15px;
}

.projects {
  padding: 40px;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile: */
    header{
        height: 60vh;
    }
    .intro__content {
        font-size: 1.5rem;
    }
    .email_info {
        font-size: 2.5rem;
        display: grid;
        place-items: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
}